STAGING_DOMAIN={{ staging.domain }}
STAGING_WOO_ADMIN_USER={{ staging.woo_admin_user }}
STAGING_WOO_ADMIN_PASSWORD={{ staging.woo_admin_password }}
STAGING_WOO_ADMIN_EMAIL={{ staging.woo_admin_email }}
STAGING_WOO_MARKET_PROFILE={{ staging.woo_market_profile | default('eur') }}
STAGING_WOO_SHOP_TITLE={{ staging.woo_shop_title | default(staging.merchant_name) }}
STAGING_WOO_SMOKE_COUNTRY={{ staging.woo_smoke_country | default('DE') }}
STAGING_WOO_SMOKE_POSTCODE={{ staging.woo_smoke_postcode | default('10115') }}
STAGING_WOO_SMOKE_CITY={{ staging.woo_smoke_city | default('Berlin') }}
STAGING_WOO_SMOKE_CURRENCY={{ staging.woo_smoke_currency | default('EUR') }}
STAGING_DB_PASSWORD={{ staging.db_password }}
STAGING_DB_ROOT_PASSWORD={{ staging.db_root_password }}
STAGING_SHOPBRIDGE_TOKEN={{ staging.shopbridge_token }}
STAGING_MERCHANT_ID={{ staging.merchant_id }}
STAGING_MERCHANT_NAME={{ staging.merchant_name }}
STAGING_TEMPO_RECIPIENT_ADDRESS={{ staging.tempo_recipient_address }}
STAGING_TEMPO_REFUND_MODE={{ staging.tempo_refund_mode | default('disabled') }}
STAGING_TEMPO_REFUND_PRIVATE_KEY={{ staging.tempo_refund_private_key | default('') }}
STAGING_TEMPO_REFUND_ASSET={{ staging.tempo_refund_asset | default('pathUSD') }}
STAGING_TEMPO_REFUND_TOKEN_ADDRESS={{ staging.tempo_refund_token_address | default('0x20c0000000000000000000000000000000000000') }}
STAGING_PAYMENT_VERIFIER_TOKEN={{ staging.payment_verifier_token }}
STAGING_STRIPE_SANDBOX_SECRET_KEY={{ staging.stripe_sandbox_secret_key }}
STAGING_STRIPE_PROFILE_ID={{ staging.stripe_profile_id }}
STAGING_MPP_SECRET_KEY={{ staging.mpp_secret_key }}
