STAGING_DOMAIN={{ staging.domain }}
STAGING_WOO_ADMIN_USER={{ staging.woo_admin_user }}
STAGING_WOO_ADMIN_PASSWORD={{ staging.woo_admin_password }}
STAGING_WOO_ADMIN_EMAIL={{ staging.woo_admin_email }}
STAGING_DB_PASSWORD={{ staging.db_password }}
STAGING_DB_ROOT_PASSWORD={{ staging.db_root_password }}
STAGING_SHOPBRIDGE_TOKEN={{ staging.shopbridge_token }}
STAGING_MERCHANT_ID={{ staging.merchant_id }}
STAGING_MERCHANT_NAME={{ staging.merchant_name }}
