STAGING_DOMAIN={{ staging.domain }}
STAGING_WOO_ADMIN_USER={{ staging.woo_admin_user }}
STAGING_WOO_ADMIN_PASSWORD={{ staging.woo_admin_password }}
STAGING_WOO_ADMIN_EMAIL={{ staging.woo_admin_email }}
STAGING_DB_PASSWORD={{ staging.db_password }}
STAGING_DB_ROOT_PASSWORD={{ staging.db_root_password }}
STAGING_SHOPBRIDGE_TOKEN={{ staging.shopbridge_token }}
STAGING_MERCHANT_ID={{ staging.merchant_id }}
STAGING_MERCHANT_NAME={{ staging.merchant_name }}
STAGING_TEMPO_RECIPIENT_ADDRESS={{ staging.tempo_recipient_address }}
STAGING_PAYMENT_VERIFIER_TOKEN={{ staging.payment_verifier_token }}
STAGING_STRIPE_SANDBOX_SECRET_KEY={{ staging.stripe_sandbox_secret_key }}
STAGING_STRIPE_PROFILE_ID={{ staging.stripe_profile_id }}
STAGING_MPP_SECRET_KEY={{ staging.mpp_secret_key }}
